/* na parte de css eu vou usar MARGIN(determina o espaçamento de fora)
       e PADDING( estilos de preenchimento dentro do conteudo ) */

       *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
      height: 100%;
      background-color: #daddb6;
    }
    body{
      display: flex;
      flex-direction: column;
    }

    .content{
      flex: 1 0 auto;
    }

    .footer{
      flex-shrink: 0;
      background-color: black;
    }
    /* body{
      display: flex;
      min-height: 100%;
         /* cor de de fundo no site
        background-color: #daddb6;
        flex-direction: column;
    } */



    #centralizado{
        display: flex;
        /* alinha os itens horizontalmente */
        justify-content: center;
        /* alinha os itens verticalmente */
        align-items: center;
    }

    .imgcenter{
        display: flex;
        justify-content: center;
    }

    .size {
      font-size: 20px;
      display: flex;
    }

    /* parte do footer */
    .conteiner{
        display: flex;
        /* ele serve para organizar elementos flexiveis em colunas
        de cima para baixo */
        flex-direction: column ;
          /* ela é usada para garantir que um elemento sempre tenha uma altura minima
          mesmo que o conteudo não ocupe todo o espaço */
        min-height: 70vh;
        justify-content: center;
        align-items: center;
    }







            /* esta configuração conteiner main serve para deixar o footer travado
            em baixo da main */
    .conteiner  main {
        background-color: transparent;
        border: 0;
        /* ele serve para controlar os elementos em um flex conteiner */
        flex: 1;
    }

    /* configuração da main na pagina principal */
  #home {
    display: flex;
    justify-content: space-around;

  }
    /*  */
  #cta {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  #cta {
    /* ele vai definir a largura  */
    width: 35%;
    /* define a altura */
    height: 30%;
  }

  #cta .title{
      font-size: 4rem;
      color: black;
  }
  #cta .title span{
    color: indigo ;
  }

  .separador1{
    font-size: 3rem;
    color: black;

  }



  .separador1 {
    display: flex;

    /* serve para dar uma distandia entre os textos */
    margin-bottom: 30px;
    flex-direction: column;
  }

  .separador1 div {
    display: flex;
    /* ele faz o texto ou outro objeto ficar do lado esquerdo */
    justify-content: flex-start;
    /* serve para dar uma distandia entre os textos */
    margin-bottom: 20px;
    /* distancia entre cada tag */
    gap: 10px;
    /* o ROW faz com que a direção da tag fique em linha  */
    flex-direction: row;
  }

  .separador2{
    display: flex;
    margin-bottom: 70px;
    justify-content: space-around;
    gap: 10px;
    margin: 40px;
    padding: 40px;
  }

  .separador2 img{
    display: flex;
    margin-bottom: 70px;
    justify-content: space-around;
    width: 20%;
    border-radius: 50px;
    border-style: groove;

  }



  /* parte da página CONTATO */

    .contato {
      display: flex;
      justify-content: space-between;
      gap: 20px;

    }

    .social-media-buttons{
      display: flex;
      justify-content: space-around;
      gap: 50px;
      padding: 1rem;

      margin: 1rem;
      border-radius: 50px;
      background-color: rgb(207, 194, 6);
      /* o PADDING-INLINE serve para delimitar um certo espaço */
      padding-inline: 16px;
      border-radius: 10px;

    }

    .social-media-buttons a:hover{
      color: white;
      border-bottom: blueviolet;
    }




    .social-media-buttons a{
      height: 40px;
      width: 40px;
    }

    .social-media-buttons div{

      height: 40px;
      width: 40px;

    }

    .social-media-buttons img {
      height: 40px;
      width: 40px;
    }

    #phone_button{
      display: flex;
      justify-content: space-around;
      gap: 50px;
      padding: 1rem;
      margin: 1rem;
      border-radius: 50px;
      background-color: rgb(207, 194, 6);
      /* o PADDING-INLINE serve para delimitar um certo espaço */
      padding-inline: 16px;
      border-radius: 10px;
    }

    #phone_button p:hover{
      color: white;
        border-bottom: blueviolet;
    }

    #phone_button p{
      height: 40px;
      width: 40px;
    }

    #phone_button img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
      /* border: 1px solid blueviolet; */

    }